@import "compass_twitter_bootstrap";

body{
	font-family: 'PT Sans', sans-serif;
	color:white;
}
.section .content{
	margin: 10% 0 0 20%;
}

.about{
	background-image: url('../images/backgrounds/about1.jpg');
}

.sport{
	background-image: url('../images/backgrounds/sport1.jpg');
}

.art{
	background-image: url('../images/backgrounds/art1.jpg');
}

.history{
	background-image: url('../images/backgrounds/history1.jpg');
}
.about, .sport, .history, .art{
	background-position: 50% 50%;
	height: 100%;
	background-size: cover;
	border-top: 1px solid black;
}

#slider{
	position: relative;
}

.title{	
	color: white;
}

.section .content p{
	font-size: 16px;
	line-height: 18px;
}

.section h2{
	font-size: 50px;
	font-family: 'Droid Sans', sans-serif;
	font-weight: 400;
	line-height: 75px;
}

#viewport{
	overflow:hidden;
	margin-top:60px;
	width:100%;
}

.nav li a{
	text-indent: -1000px;
	height:30px;
	display: block;
}

.navbar{
	height: 57px;
}

.navbar .nav{
	margin-top: 10px;
}

.nav li{
	margin-left: 8px;
}

.nav-home{
	background: url('../images/menu-icons.png') no-repeat 0 -0;
}

.nav-sport{
	background: url('../images/menu-icons.png') no-repeat -30px 0;
}

.nav-art{
	background: url('../images/menu-icons.png') no-repeat -63px 0;
}

.nav-history{
	background: url('../images/menu-icons.png') no-repeat -144px 0;
}

.nav-where{
	background: url('../images/menu-icons.png') no-repeat -106px 0;
}

.content{
	position: relative;
	background-color: black;
	width: 400px;
	padding: 20px;
	left: -500px;
}

#where.content{
	display: none;
}
.section.where{
	margin-top: 55px;
}
.move{
  	-moz-transition: left 1.5s ease;
  	-o-transition: left 1.5s ease;
  	-webkit-transition:left 1.5s ease;
	transition: left 1.5s ease;
	left:0;
}

#map{
	height: 100%;
}

img{
	max-width: none!important;
}