temp
dist
app/images/backgrounds/npm-debug.log
app/.DS_Store
app/images/00000002
app/images/00000003


app/styles/.DS_Store

app/styles/.sass-cache/6dc6bf70ea5cce3380dc2f6b702c9fe49d9827cb/_compass_twitter_bootstrap.scssc

app/styles/.sass-cache/6dc6bf70ea5cce3380dc2f6b702c9fe49d9827cb/main.scssc
